<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h2 id="connectedUsersModalLabel"><%= modal_header %></h2>
</div>
<div class="modal-body">
	<%= render users %>
</div>
<div class="modal-footer">
  <button class="btn btn-inverse micropost_form_btns" data-dismiss="modal" aria-hidden="true">Close</button>
</div>